[Desktop Entry]
Name=Era
Name[ca]=Era
Name[ca@valencia]=Era
Name[es]=Era
Name[eu]=Era
Name[fr]=Ère
Name[gl]=Era
Name[it]=Era
Name[nl]=Era
Name[sl]=Era
Name[sv]=Era
Name[tr]=Era
Name[uk]=Ера
Name[x-test]=xxEraxx
Comment=Set alarms and timers, use a stopwatch, and manage world clocks
Comment[ca]=Establiu alarmes i temporitzadors, useu un cronòmetre i gestioneu els rellotges mundials
Comment[ca@valencia]=Establiu alarmes i temporitzadors, utilitzeu un cronòmetre i gestioneu els rellotges mundials
Comment[es]=Defina alarmas y temporizadores, use un cronómetro y gestione relojes del mundo
Comment[eu]=Ezarri alarmak eta tenporizadoreak, erabili kronometroa, eta kudeatu munduko ordulariak
Comment[fr]=Régler les alarmes et les minuteries, utiliser un chronomètre et gérer les horloges du monde
Comment[gl]=Defina alarmas e temporizadores, use un cronómetro, e xestione os reloxos mundiais.
Comment[it]=Imposta sveglie e timer, usa un cronometro e gestisci gli orologi mondiali
Comment[nl]=Zet alarmen en timers, gebruik een stopwatch en beheer wereldklokken
Comment[sl]=Nastavi alarme in časomerilnike, uporabi štoparico in upravljaj svetovne ure
Comment[sv]=Ställ in alarm och tidtagning, använd ett stoppur, och hantera världsklockor
Comment[tr]=Alarmlar ve sayaçlar kurun, kronometreyi kullanın ve dünya saatlerini yönetin
Comment[uk]=Встановлення нагадувань та таймерів, секундомір та керування годинниками міст світу
Comment[x-test]=xxSet alarms and timers, use a stopwatch, and manage world clocksxx
TryExec=era
Exec=era
Terminal=false
Type=Application
GenericName=Clock
GenericName[ca]=Rellotge
GenericName[ca@valencia]=Rellotge
GenericName[es]=Reloj
GenericName[eu]=Erlojua
GenericName[fr]=Horloge
GenericName[gl]=Reloxo
GenericName[it]=Orologio
GenericName[nl]=Klok
GenericName[sl]=Ura
GenericName[sv]=Klocka
GenericName[tr]=Saat
GenericName[uk]=Годинник
GenericName[x-test]=xxClockxx
StartupNotify=true
Icon=era
Categories=Qt;KDE;Utility;
