[Desktop Entry]
Name=Era
Name[ca]=Era
Name[nl]=Era
Name[tr]=Era
Name[uk]=Ера
Name[x-test]=xxEraxx
Comment=Set alarms and timers, use a stopwatch, and manage world clocks
Comment[ca]=Establiu alarmes i temporitzadors, useu un cronòmetre i gestioneu els rellotges mundials
Comment[nl]=Zet alarmen en timers, gebruik een stopwatch en beheer wereldklokken
Comment[tr]=Alarmlar ve sayaçlar kurun, kronometreyi kullanın ve dünya saatlerini yönetin
Comment[uk]=Встановлення нагадувань та таймерів, секундомір та керування годинниками міст світу
Comment[x-test]=xxSet alarms and timers, use a stopwatch, and manage world clocksxx
TryExec=era
Exec=era
Terminal=false
Type=Application
GenericName=Clock
GenericName[ca]=Rellotge
GenericName[nl]=Klok
GenericName[tr]=Saat
GenericName[uk]=Годинник
GenericName[x-test]=xxClockxx
StartupNotify=true
Icon=era
Categories=Qt;KDE;Utility;
